<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.chunkie.pmp_server.handler.GeneralEnumTypeHandler"
                     javaType="com.chunkie.pmp_server.common.Gender"/>
        <typeHandler handler="com.chunkie.pmp_server.handler.GeneralEnumTypeHandler"
                     javaType="com.chunkie.pmp_server.common.Species"/>
        <typeHandler handler="com.chunkie.pmp_server.handler.GeneralEnumTypeHandler"
                     javaType="com.chunkie.pmp_server.common.Breed"/>
    </typeHandlers>
</configuration>